body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  #dog{
    width: 250px;
    height: 300px;

  }

#btn{
    width: 250px;
    background-color: brown;
    color: white;
    border-style: none;
    margin-top: 10px;
    height: 40px;

    
}

#btn.hover{
    background-color: yellow;
}
@media screen and (max-width: 787px) {
    #btn{
        width: 250px;
        height: 40px;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    #btn{
        width: 320px;
        height: 40px;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    #dog{
        width: 320px;
        height: 400px
    }
    
}
  